.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  position: relative;
  text-align: center;
  transition: 0.5s all ease-out;
  transform: translateY(0);

  &.transitioning {
    opacity: 0;
    transform: translateY(25px);
  }
}
