@import "~normalize.css";

:global {
  html {
    background: #ccc;
    font-family: 'Scope One', serif;
    overflow-y: scroll;
  }

  html, body {
    height: 100%;
    min-height: 100%;
  }

  #app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  a {
    color:#666;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #999;
    }
  }
}
