.nav {
  opacity: 1;
  padding: 100px 0 0;
  transition: 0.2s opacity;
  width: 100%;

  &.game {
    opacity: 0;
    pointer-events: none;
  }

  ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    li {
      display: inline-flex;
      margin: 0 15px;

      a {
        color: #111;
        font-size: 20px;
        line-height: 14px;
        padding: 5px;
        text-decoration: none;
        transition: 0.2s color;

        &:active {
          position: relative;
          top: 1px;
          right: 1px;
        }

        &.active, &:hover {
          background: black;

          &.about {
            color: #ffb3ba;
          }

          &.articles {
            color: #ffdfba;
          }

          &.projects {
            color: #ffffba;
          }

          &.resume {
            color: #baffc9;
          }

          &.home {
            color: #bae1ff;
          }
        }
      }
    }
  }
}
